# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Environment files
.env
.env.*

# TypeScript
*.tsbuildinfo

# Example / test apps
app-example

# IDE / Editor settings (common ones)
.vscode/
.idea/
*.swp
*.swo
